html {
    background-color: #fff5e7;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 4rem;
    font-variant: small-caps;
    color: #a48adb;
}

#one {
    font-weight: 300;
}

#two {
    font-weight: 400;
}

#three {
    font-weight: 900;
}