body {
    width: 80%;
    margin: 0 auto;
    padding-top: 30px;
}

p {
    margin: 20px;
}


/*Below is a pseudo-element which used two colons as opposed to a pseudo-class which only uses one.*/
p::first-letter {
    font-family: cursive;
    font-size: 36px;
    line-height: .5;
}