div {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    border-radius: 10px;
    display: inline-block;
}

img {
    border: 10px groove orangered;
    border-radius: 100%;
}

.jesusone {
    border: 10px dashed orangered;
}

.jesustwo {
    border: 10px dotted orangered;
}

.jesusthree {
    border: 10px double orangered;
}