body {
    width: 70%;
    margin: 0 auto;
    padding-top: 30px;
}

p {
    margin: 20px;
    max-width: 600px;
    text-indent: 10px;
}


/*Below are pseudo-elements which use two colons as opposed to a pseudo-class which only uses one.*/
p::first-letter {
    font-family: cursive;
    font-size: 36px;
    line-height: .5;
}

p::first-line {
    color: red;
    font-weight: 900;
}